[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
dash = "*"
pandas = "*"
pandas-datareader = "*"

[dev-packages]
awsume = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
twine = "*"
tox = "*"

[requires]
python_version = "3.8"
